.bioContainer {
    background-color: cornsilk;
    margin-top:3%;
    margin-bottom: 5%;
}
#title {
    padding-left: 5%;
}
.myBio {
    display: grid;
}

#firstPhoto {
    min-width: 30%;
    max-width: 40%;
    background-size: cover;
    background-position: center;
    grid-column: 3/4;
    grid-row: 2/3;
    margin-left: 45%;

    --_g: 10% /47% 47% no-repeat linear-gradient(#000 0 0);
    --m:
      left   var(--_i,0%) top    var(--_g),
      bottom var(--_i,0%) left   var(--_g),
      top    var(--_i,0%) right  var(--_g),
      right  var(--_i,0%) bottom var(--_g);
    -webkit-mask: var(--m);
            mask: var(--m);
    transition: .35s linear;
    cursor: pointer;

}
#firstPhoto:hover {
    --_i: 90.5% 
}

#photoBox {
    background-color: blue;
    width: 76%;
    height: 10%;
    position: absolute;
    top: 26%;
    right: 20%;
    opacity: 20%;
}
#nameBox {
    background-color: blue;
    width: 55%;
    height: 30%;
    position: absolute;
    top: 28%;
    left: 2%;
    opacity: 10%;
}
#bioInfo {
    padding-top: 2%;
    background-size: cover;
    background-position: center;
    grid-column: 1/3;
    grid-row: 2/2;
    padding-left: 5%;
}

#aboutBtn {
    position: absolute;
    top:55%;
    right:25%;
    width: 15%;
    height: 3%;
}

/* ----------------------------------------Skills Section------------------------------------------ */

.skillsContainer {
    margin-bottom: 5%;
    background-color: lightyellow;
}

.skillList {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    /* columns: 3; */
     display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  list-style-type: none;
}

.skillItem {
    border-style:double;
}


/* ----------------------------------------Project Section------------------------------------------ */

.projectsContainer {
    margin-bottom: 5%;
    background-color: lavender;

}
.project {
    display: grid;
}
#project1, #project2, #project3 {
    width: 90%;
}

.grp1 {
    grid-row: 1/3;
}

.grp2 {
    grid-column: ;
    grid-row: 1/3;
}

.grp3 {
    grid-column: ;
    grid-row: 1/3;
}

